button {
  width: 100%;
  margin-top: 2vh;
  font-size: 2vh;
}

p-dropdown {
  /*width: 80% !important;*/
}

label.ui-dropdown-label {
  font-size: 20em;
}

.roomTitle {
  text-align: center;
  font-size: 1.2em;
  vertical-align: middle;
  padding-top: 5vh;
}

input[type=number] {
  text-align: center;
}

.ui-inputgroup-addon {
  background: none !important;
  border: none !important;
  color: black !important;
  padding-top: 3vh !important;
}