<app-main-container>
  <div class="lampBanner">
    <div class="topButton">
      <button pButton type="button" class="ui-button-primary floatLeft  " label="منو" (click)="back()"></button>
    </div>
    <div class="titleBanner">
      {{title}}
    </div>
    <div>
      <input dir="rtl" type="text" placeholder=" نام الگو" name="roomName" [(ngModel)]="name" />
    </div>
    <div *ngFor="let room of rooms" class="ui-g">
      <div class="ui-g-6 ">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Lux </span>
          <input type="number" pInputText placeholder="مقدار" [(ngModel)]="room.value">
        </div>
      </div>
      <div class="ui-g-4 ui-g-offset-2  roomTitle">
        {{room.name}}
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 ui-g-offset-3">
        <button (click)="submit()" pButton icon="pi pi-plus" iconPos="left" type="button" label="افزودن فضا" class="ui-button-raised ui-button-success"></button>
      </div>
    </div>
  </div>
</app-main-container>