<app-main-container>
  <div class="lampBanner">
    <div class="titleBanner">
      {{title}}
    </div>
    <div>
      <input dir="rtl" type="text" placeholder=" نام فضا" name="roomName" />
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <p-dropdown [options]="types" [(ngModel)]="inputType" placeholder="نوع ورودی" [showClear]="true"></p-dropdown>
      </div>
      <div class="ui-g-4 ui-g-offset-3">
        <p-dropdown [options]="ports" [(ngModel)]="inputPort" placeholder="پورت ورودی" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <p-dropdown [options]="types" [(ngModel)]="outputPort" placeholder="نوع خروجی" [showClear]="true"></p-dropdown>
      </div>
      <div class="ui-g-4 ui-g-offset-3">
        <p-dropdown [options]="ports" [(ngModel)]="outputType" placeholder="پورت خروجی" [showClear]="true"></p-dropdown>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-6 ui-g-offset-3">
        <button pButton icon="pi pi-plus" iconPos="left" type="button" label="افزودن فضا" class="ui-button-raised ui-button-success"></button>
      </div>
    </div>
  </div>
</app-main-container>