/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(179, 255, 1);
  width: 98%;
  height: 85vh;
  background-image: url("./assets/images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 50px;
  margin: 0;
}