<app-main-container>
  <div class="lampBanner">
    <div class="titleBanner">
      LightUp
    </div>
    <div class="ui-g" *ngIf="admin">
      <div class="ui-g-4">
        <button (click)="reports()" pButton type="button" label="گزارش‌ها" class="ui-button-raised ui-button-warning"></button>
      </div>
      <div class="ui-g-4">
        <button (click)="rooms()" pButton type="button" label="فضا‌ها" class="ui-button-raised ui-button-warning"></button>
      </div>
      <div class="ui-g-4">
        <button (click)="users()" pButton type="button" label="افراد" class="ui-button-raised ui-button-warning"></button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <button (click)="selfAccount()" pButton type="button" label="حساب من" class="ui-button-raised ui-button-warning"></button>
      </div>
      <div class="ui-g-6">
        <button (click)="patterns()" pButton type="button" label="الگو‌ها" class="ui-button-raised ui-button-warning"></button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 ui-g-offset-3">
        <button (click)="exit()" pButton icon="pi pi-sign-out" iconPos="left" type="button" label="خروج" class="ui-button-raised ui-button-danger"></button>
      </div>
    </div>
  </div>
</app-main-container>